{% extends 'layout/default.html.twig' %}

{% block content %}

    <div class="row">
        <div class="columns">
            <h2>Page not found!</h2>
            <p>Return to <a href=" {{ path('homepage') }}">Homepage</a></p>
        </div>
    </div>

{% endblock %}