<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>:)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
    <link rel="stylesheet" href="/dist/css/app.css">
</head>
<body>

<div>
    <header>
        <div class="row">
            <div class="columns">
                <h1><a href="/">Hello!</a></h1>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="row">
            <div class="columns">
                <p>© Me</p>
            </div>
        </div>
    </footer>
</div>

</body>
</html>