{% extends 'layout/default.html.twig' %}

{% block content %}

    <div>
        <div class="row login">
            <div class="columns">
                <h2>Last Articles:</h2>
                <ul class="articles">
                    {% for article in articles %}
                        {# or {{ path('article', {article: article.id}) }} ; see http://silex.sensiolabs.org/doc/providers/twig.html#symfony-components-integration #}
                        <li><a href="{{ article.getUrl() }}">{{ article.getTitle }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
